  {% load static %}

<!-- Footer Start -->
                <footer class="bg-white shadow py-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-sm-start text-center">
                                    <p class="mb-0 text-muted">© <script>document.write(new Date().getFullYear())</script> Tuition App. Developed with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">White Fox Digitals</a>.</p>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </footer><!--end footer-->
                <!-- End -->
            </main>
            <!--End page-content" -->
        </div>
        <!-- page-wrapper -->



        <!-- javascript -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <!-- simplebar -->
        <script src="{% static 'assets/js/simplebar.min.js' %}"></script>
        <!-- Icons -->
        <script src="{% static 'assets/js/feather.min.js' %}"></script>
        <!-- Chart -->
        <script src="{% static 'assets/js/apexcharts.min.js' %}"></script>
        <!-- Main Js -->
        <script src="{% static 'assets/js/plugins.init.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>

    </body>


</html>