{% load static %}
{% include 'header/header.html' %}

                <div class="container-fluid">
                    <div class="layout-specing">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-muted mb-1">Welcome back, Cristina!</h6>
                                <h5 class="mb-0">Dashboard</h5>
                            </div>

                        </div>
                    
                        <div class="row row-cols-xl-5 row-cols-md-2 row-cols-1">
                            <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-school fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Teachers</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="4589">2100</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->
                            
                            <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="uil uil-users-alt fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Students</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0">$<span class="counter-value" data-target="48575">35214</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->
                            
                            <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-brand-gravatar fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Class</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="4800">3402</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->
                            
                            <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-file-info fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Subjects</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-book fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Online Class</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->

                             <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-file-invoice fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Assignments</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="9">1.5</span>M</p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->

                              <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-video fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Video Class</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->

                              <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-notification fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Notifications</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->

                              <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-user fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Profile</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->

                               <div class="col mt-4">
                                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="ti ti-user-circle fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Visitors</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                                        </div>
                                    </div>

                                </a>
                            </div><!--end col-->
                            

                        </div><!--end row-->

                        </div>
                </div>

               {% include 'footer/footer.html' %}